
body{
  background-color: #61dafb;
}
.App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cityInfo{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;}

#LocationDiv{
  display:flex;
  flex-direction: column;
  border:10px solid blue;
  height:130vh;
  width:100%
  /* page */

}

#Differentapi{
  height:initial;
  border:10px solid rgb(246, 6, 6);
  display: flex;
  /* api area */
}

#Weatherbit_Movieapi{
  border:10px solid black;
  width:830px;
  display:flex;
  flex-direction: column;
/* weather api */

}


#Map{

  width:400px;
  height:434px;
}

#overTable{
  border:10px solid rgb(10, 246, 6);
  /* weatherdata div*/
}

#OverBoth{
  border:10px solid rgb(246, 6, 186);
}